body {
    background-color: red;
    margin-right: 20%;
    margin-left: 20%;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    padding-left: 10px;
    padding-right: 10px;
}

h1 {
    text-align: center;
    border-bottom-width: 1px;
    border-bottom-style: dashed;
    border-bottom-color: black;
}

.imagebanner {
    background-image: url("images/background-combat-basics.webp");
    padding: 350px 0;
}